<h1>EAT DA BURGER!</h1>

<h2>Come and Get It!</h2>

<ul>
  {{#each burgers}}
  {{#unless this.devoured}}
    <li>
      {{this.name}}

      <form action="/{{this.id}}?_method=PUT" method="POST">
        <input type="hidden" name="devoured" value="false">
        <button type="submit">Help Yourself!!</button>
      </form>

      {{> burgers/delete-burger}}
    </li>
  {{/unless}}
  {{/each}}
</ul>

<h2>Nom Nom Nom!</h2>

<ul>
  {{#each burgers}}
  {{#if this.devoured}}
    <li>
      {{this.name}}

      <form action="/{{this.id}}?_method=PUT" method="POST">
        <input type="hidden" name="devoured" value="true">
        <button type="submit">Sorry, ALL GONE!!</button>
      </form>

      {{> burgers/delete-burger}}
    </li>
  {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-update-form" action="/" method="POST">

    <div class="form-group">
      <label for="bu">Burger Name:</label>
      <input type="radio" name="devoured" value="1" checked> Devoured!<br>
      <input type="radio" name="sleepy" value="0"> Available
    </div>

    <button type="submit">Add a Burger</button>
</form>
